@import "tailwindcss";

@theme {
  --animate-slide-up: slide-up 1.2s ease-in-out;

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(60px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  body {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }
}